@use './mixins.scss' as *;

@import url('~typeface-mali/index.css');

html,
body {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--app-background-color);
  color: var(--app-text-color);
}

body {
  margin: 0;
  font-family: 'Mali', cursive;
}

* {
  outline: none;
}

a {
  &,
  &:visited {
    cursor: pointer;
    text-decoration: none;
    color: var(--app-link-color);
    transition: color 150ms ease;
  }

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
    color: var(--app-link-active-color);
  }
}

input,
option {
  font-family: inherit;
}
