@use '../shared/styles/mixins.scss' as *;

:host {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  line-height: 2.5rem;
}

.logo {
  padding: 0 0.5rem;
  font-size: 1.5rem;
  box-shadow: 0 1px 0 darken(#558b2f, 5);
  background-color: #558b2f;
  text-shadow: -1px -1px 0 #33691e;
  color: #aed581;
  cursor: pointer;
  outline: none;
}

.menu {
  // As flex item
  flex-shrink: 1;
  overflow: hidden;

  // As flex container
  display: flex;
  flex-wrap: nowrap;

  user-select: none;
}

.dropdown__burger {
  display: none;
}

@media (max-width: 640px) {
  .dropdown__burger {
    display: flex;
  }

  .dropdown__content {
    flex-direction: column;
    position: absolute;
    top: 100%;
    opacity: 1;
    box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.15);
    border-radius: 0 0 3px 3px;
    border: 1px solid var(--app-border-color);
    border-top-color: var(--app-primary-color);
    background-color: var(--app-header-background-color);
    text-align: left;
    transition: opacity ease-in 150ms;
  }

  .dropdown__content--closed {
    top: -100vh;
    opacity: 0;
    transition: opacity ease-out 150ms, top 0ms 150ms;
  }
}

.menu-link {
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 0.75rem;
  text-decoration: none;
  color: var(--app-header-link-color);
  transition: background-color ease 150ms, color ease 150ms;

  &:hover {
    background-color: rgba(160, 160, 160, 0.1);
    color: var(--app-text-color);
  }
}

.menu-link--active {
  background-color: transparent !important;
  color: var(--app-header-link-active-color) !important;
}

.menu-link--capitalize {
  text-transform: capitalize;
}

.menu-link-icon {
  margin-right: 0.5em;
}

.menu-link-sm {
  font-size: 0.825em;
}
