@use '../../styles/mixins.scss' as *;

:host {
  display: flex;
  height: 100%;
}

.container {
  margin: auto;
  padding: 1rem;
}

.logo {
  display: block;
  font-size: 1.75em;
  padding-bottom: 2.5rem;
  opacity: 0.2;
}

.title {
  line-height: 1em;
  font-size: 4rem;
}

@media (max-width: 640px) {
  .title {
    font-size: 3rem;
  }
}

.github {
  display: block;
  margin-top: 4.5rem;
  color: inherit;
  svg {
    width: 1.5rem;
  }
}

.highlight {
  color: var(--app-primary-color);
}
