<div class="layout">
  <app-header class="header"></app-header>

  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- TODO: move this to a component -->
<div *ngIf="popup === 'update'" class="popup">
  <fa-icon [icon]="update"></fa-icon> &nbsp; Application update available &nbsp;
  <button type="button" class="app-button" (click)="closePopup(true)">Install and restart app</button>
  &nbsp;
  <a (click)="closePopup()">Postpone</a>
</div>

<div class="version">{{ appVersion }}</div>
